{% extends "htmlpage/wrapper.html" %}
{% block title %}
    <title>Редактирование профиля</title>
{% endblock %}
{% block content %}
    <div class="center indents">
{#Проверка возможности измения профиля пользователем, #}
{#        если пользователь попытается изменить чужой профиль, то он будет перенаправлен    #}
        {% if user == not_this_user.user %}
            <div class="row text-center">
                <div class="col-md-6 offset-md-3">
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
{#Вывод форма для изменения профиля                    #}
                        {% for field in form %}
                            <div class="form-group">
                                {{ field.errors }}
                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                        {% endfor %}
                        {{ form_for_image.as_p }}
                        <input class="btn btn-success" type="submit" value="Дальше" name="add_data">
                    </form>
                </div>
            </div>
        {% else %}
            <h1>ТЫ НЕ В СВОЁМ РАЙОНЕ ПАРНИША!!! УХАДИ!!!!!!!</h1>
        {% endif %}
    </div>
{% endblock %}