{% extends "htmlpage/wrapper.html" %}
{% block title %}
    <title>Создание профиля</title>
{% endblock %}
{% block content %}
    <div class="center indents">
        <div class="row text-center">
            <div class="col-md-6 offset-md-3">
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
{#Вывод формы профиля для заполнения                #}
                    {% for field in profile_form %}
                        <div class="form-group">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <input class="btn btn-success" type="submit" value="Дальше" name="add_data">
                </form>
            </div>
        </div>
    </div>
{% endblock %}