{% extends "htmlpage/wrapper.html" %}

{% block content %}
    <div class="center indents">
        {% if user == not_this_user.user %}
            <div class="row text-center">
                <div class="col-md-6 offset-md-3">
                    <form method="POST" action="">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                {{ field.errors }}
                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                        {% endfor %}
                        <input class="btn btn-success" type="submit" value="Дальше" name="add_data">
                    </form>
                </div>
            </div>
        {% else %}
            <h1>ТЫ НЕ В СВОЁМ РАЙОНЕ ПАРНИША!!! УХАДИ!!!!!!!</h1>
        {% endif %}
    </div>
{% endblock %}