{% extends "htmlpage/wrapper.html" %}

{% block content %}
    <div class="center indents">
        <div class="row">
{#Выбор для пользователя что отображать, его публикации или профиль        #}
            <div class="list-group col-2" id="list-tab" role="tablist">
                <a href="{% url 'accounts:personalcab' %}"
                   class="list-group-item list-group-item-action active">Личный профиль</a>
                <a href="{% url 'accounts:user_publication' %}"
                   class="list-group-item list-group-item-action">Публикации</a>
            </div>
            <div class="col-6">
{#Вывод профиля пользователя            #}
                <h2>{{ user.username }}</h2>
                <ul class="list-group">
                    <li class="list-group-item">Имя: {{ user.profile.first_name }}</li>
                    <li class="list-group-item">Фамилия: {{ user.profile.last_name }}</li>
                    {% if user.profile.avatar %}
                        <li class="list-group-item">Аватар:
                            <img src="{{ user.profile.avatar.url }}"
                                             width="50" height="50"></li>
                    {% else %}
                        <li class="list-group-item">Аватар:
                            {% load static %}
                            <img src="{% static 'sitemy/Image/no_avatar.jpg' %}"
                                             width="50" height="50"></li>
                    {% endif %}
                    <li class="list-group-item">Email: {{ user.email  }}</li>
                    <li class="list-group-item">Телефон: {{ user.profile.phone }}</li>
                    <li class="list-group-item">Скайп: {{ user.profile.skype }}</li>
                </ul>
{#Если у пользователя профиль заполнен, то даём возможность изменить, если пустой, то для заполнения            #}
                {% if user.profile.first_name == "" %}
                    <a href="{% url 'accounts:registration_next' %}" class="btn btn-info">Редактировать</a>
                {% else %}
                    <a href="{% url 'accounts:edit_profile' pk=user.profile.id %}" class="btn btn-info">Редактировать</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}