{% extends "htmlpage/wrapper.html" %}

{% block content %}
    <div class="center indents">
        <div class="row text-center">
            <div class="col-md-6 offset-md-3">
                <form method="POST" action="">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <input class="btn btn-success" type="submit" value="Зарегистрироваться" name="next">
                    <a class="btn btn-secondary" href="{% url 'accounts:login' %}">Я уже зарегистрирован</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}