{% extends 'htmlpage/wrapper.html' %}

{% block content %}
    <div class="center">
{#Проверка на то авторизован ли пользователь    #}
        {% if user.is_active %}
            <h1>Новый блог</h1>
{#Вывод форм для создания блога/публикации            #}
            <form method="post" action="">
                {% for field in form_post %}
                    {% csrf_token %}
                    <div class="form-group">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
                <input class="btn btn-warning" type="submit" value="Создать блог" name="add_data">
            </form>
        {% else %}
            <p>Чтобы создавать блоги заригестрируйтесь или авторизуйтесь.
                В верхней части сайта есть кнопки для вашего удобства</p>
        {% endif %}
    </div>
{% endblock %}